<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="http://brianhonohan.com/">Brian Honohan</a>

    <nav id="menu" class="site-nav">
      <label for="tm" id="toggle-menu">&equiv;</label>
      <input type="checkbox" id="tm">
      <ul class="main-menu clearfix">
        {% if page.modal %}
        <li><a class="page-link js-modal" href="#"
           data-modal-prefix-class="simple"
           data-modal-content-id="modal-content"
           data-modal-close-title="Close this window">Info</a></li>
        {% endif %}
        <li><a class="page-link" href="/about">About Me</a></li>
        <li><a class="page-link" href="/sketchbook/">Sketchbook</a></li>
      </ul>
    </nav>

  </div>

</header>
