
.img-thumbnail {
  width: 150px
}

.listing-thumbnail {
  float: left;
  margin: 0 10px 10px 0;
}

.home h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
  padding-bottom: .3em;
  border-bottom: 1px solid #e8e8e8;
}

.post-list {
  margin-bottom: 100px;
}

.util-clear {
  clear: both;
}

#menu {
  margin: 4px;
  line-height: 48px;
}

#toggle-menu {
  @include media-query($on-palm) {
    font-size: 26px;
    padding: 0em 1em;
  }
}

#menu a {
  @include media-query($on-laptop) {
    padding: 1em 0.5em;
  }
}

#toggle-menu {
  @include media-query($on-palm) {
    font-size: 26px;
    padding: 0em 1em;
  }
}

.layout-minimal {
  #toggle-menu {
    @include media-query($on-palm) {
      padding: 0.6em 0.6em;
    }
  }

  #menu {
    margin: 0px;
    line-height: 0px;
  }
}


// Override defaults of simple-modal-close

.simple-modal-close {
  background: #ffffff;
  border-radius: .25em;
  border: 1px solid #A93333;
  color: #A93333;
  padding: 0.9em;
  text-decoration: none;
  line-height: 0.5;
  text-align: center;
  font-size: 16px;
}
.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
  background: #A93333;
  color: #ffffff;
}


.site-title {
  padding-right: 8px;
  text-decoration: none !important;
}