.layout-minimal {
  height: 100%;
  overflow: hidden;

  .site-header {
    min-height: 0px;

    .wrapper {
      max-width: none;
      margin-left: 0;
    }

    .site-title {
      font-size: 16px;

      @include media-query($on-palm) {
        line-height: 33px;
      }
    }

    .site-nav {
      line-height: 0px;

      @include media-query($on-palm) {
        top: 0px;
      }
    }
  }

  .page-content {
    padding: 0;
  }


}