---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign categories = "p5js, p5js/common/examples, p5js/scales, p5js/coding-challenges, p5js/random, p5js/shader-examples, paperjs, processing, pixijs, threejs, ruby" | split: ", " | sort: 'title', 'first' %}

  {% assign all_filtered_pages = site.pages | where: 'bh_page_type', "sketch" %}

    {% assign featured = all_filtered_pages | where_exp: "page", "site.featured_pages contains page.url" %}
    {%- if featured.size > 0 -%}
    <div class="section">
      <h2 class="section-heading">Featured Sketches</h2>
      <div class="thumbnail-grid">
        {% assign item_limit = 4 %}
        {%- for page in featured limit: item_limit -%}
        <div class="thumbnail"><a class="post-link" href="{{ page.url | relative_url }}">
          <img src="{{ page.url | relative_url }}screenshot-01.png" class="img-thumbnail" />
        </a></div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

    {% assign recent_pages = all_filtered_pages | sort: 'date' | reverse %}
    {%- if recent_pages.size > 0 -%}
    <div class="section">
      <h2 class="section-heading">Recent Sketches</h2>
      <div class="thumbnail-grid">
        {% assign item_limit = 4 %}
        {%- for page in recent_pages limit: item_limit -%}
        <div class="thumbnail"><a class="post-link" href="{{ page.url | relative_url }}">
          <img src="{{ page.url | relative_url }}screenshot-01.png" class="img-thumbnail" />
        </a></div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

  {%- for category in categories -%}
    {% assign filtered_pages = all_filtered_pages | where: "categories", category | sort: 'date' | reverse %}
    {% assign category_path = category  %}

    {%- if filtered_pages.size > 0 -%}
    <div class="section">
      <h2 class="section-heading">{{ category }} Sketches</h2>
      <div class="thumbnail-grid">
        {% assign item_limit = site.bh_thumbs_per_section %}
        {%- for page in filtered_pages limit: item_limit -%}
        <div class="thumbnail"><a class="post-link" href="{{ page.url | relative_url }}">
          <img src="{{ page.url | relative_url }}screenshot-01.png" class="img-thumbnail" />
        </a></div>
        {%- endfor -%}
        {% if filtered_pages.size > item_limit %}
        <div class="thumbnail">
          <a href="{{category_path | relative_url}}/">View All</a>
        </div>
        {% endif %}
      </div>
    </div>
    {%- endif -%}

  {%- endfor -%}


  {% assign filtered_posts = site.posts | where_exp: "page", "page.layout != 'redirect'" | sort: 'date' | reverse %}
  {%- if filtered_posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list util-clear">
      {%- for post in filtered_posts -%}
      <li class="util-clear">
        {% if post.thumbnail %}
        <div class="listing-thumbnail">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" align="center" class="img-thumbnail" />
          </a>
        </div>
        {% endif %}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <div class="util-clear">
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  {%- endif -%}

</div>
