---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign categories = "p5js, paperjs, processing, pixijs, ruby" | split: ", " | sort: 'title', 'first' %}

  {% assign all_filtered_pages = site.pages | where: 'bh_page_type', "sketch" %}

  {%- for category in categories -%}
    {% assign filtered_pages = all_filtered_pages | where: "categories", category | sort: 'title', 'first' %}

    {%- if filtered_pages.size > 0 -%}
      <h2 class="post-list-heading util-clear">{{ category }} Sketches</h2>
      <ul class="post-list util-clear">
        {%- for page in filtered_pages -%}
        <li class="util-clear">

          <div class="listing-thumbnail">
            <a class="post-link" href="{{ page.url | relative_url }}">
              <img src="{{ page.url | relative_url }}screenshot-01.png" align="center" class="img-thumbnail" />
            </a>
          </div>

          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ page.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ page.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

    {%- endif -%}

  {%- endfor -%}




  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list util-clear">
      {%- for post in site.posts -%}
      <li class="util-clear">
        {% if post.thumbnail %}
        <div class="listing-thumbnail">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" align="center" class="img-thumbnail" />
          </a>
        </div>
        {% endif %}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <div class="util-clear">
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  {%- endif -%}

</div>
