<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html mode_split="true" -%}
  <body class="layout-minimal">
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="split_view" id="splitView">
        <div id="left-pane">
          {% if page.modal %}
            <div class="wrapper invisible" id="modal-content">
              {{ content }}
            </div>
          {% else %}
            <div class="wrapper">
              {{ content }}
            </div>
          {% endif %}
        </div>
        <div id="right-pane">
          <div class="tabs-container">
            <button class="scroll-btn left">&lt;</button>
            <div class="tabs" id="tabs"></div>
            <button class="scroll-btn right">&gt;</button>
          </div>
          <div class="tab-content" id="tab-content"></div>
        </div>
        <button class="sidebar-toggle" id="sidebarToggle">←</button>
      </div>
    </main>
  </body>
</html>